<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^pod/(.+)$" ignoreCase="false" />
                    <action type="Rewrite" url="get.php?pod={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^fla/(.+)$" ignoreCase="false" />
                    <action type="Rewrite" url="get.php?fla={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^web/(.+)$" ignoreCase="false" />
                    <action type="Rewrite" url="get.php?web={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url=".*" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{SCRIPT_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="rewrite.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
